* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 375px;
	height: 1945px;
}
.corner {
	display: none;
}
.bg {
	position: absolute;
	width: 281.4px;
	height: 480px;
	left: 159px;
	top: -104px;

	background-image: url(./assets/bg-main-mobile.png);
}
.container {
	position: relative;
	top: 39.99px;
	max-width: 375px;
	margin: auto;
}
.header-logo {
	position: absolute;
	width: 146.09px;
	height: 32px;
	left: 24.15px;
	top: 39.99px;
}
.hero-header {
	width: 327px;
	height: 144px;
	margin: 96.01px 25px 20px 24px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	/* or 100% */

	letter-spacing: -0.454545px;

	color: #191826;
}
.hero-para {
	width: 327px;
	height: 156px;
	margin: 24px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 170% */

	color: #191826;
}
.black-bg {
	position: absolute;
	width: 375px;
	height: 600px;
	/* left: 165px; */
	top: 622px;

	background: #191826;
	border-radius: 12px;
}
.illustration {
	position: absolute;
	width: 280px;
	height: 420px;
	left: 48px;
	top: 622px;
}
.phone {
	position: absolute;
	width: 208.97px;
	height: 430px;
	left: 80.67px;
	top: calc(524px - 39.99px);
	z-index: 9;
}
.card {
	position: absolute;
	width: 375px;
	height: 546px;
	left: 0px;
	top: 1002px;

	background: #fa7453;
	border-radius: 12px;
	color: #fcfaf9;

	display: flex;
	flex-direction: column;
	padding: 48px 37px 48px 36px;
	margin-bottom: 64px;
}
.card > h2 {
	margin-bottom: 22px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	/* identical to box height, or 130% */
}
.card > p {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	/* or 170% */

	color: #fcfaf9;

	margin-bottom: 36px;
}
.card h1 {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 65px;
	line-height: 52px;
	/* identical to box height, or 80% */
}
.amount p {
	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 32px;
	/* identical to box height, or 160% */

	letter-spacing: -0.2px;

	color: #fcfaf9;
}

.amount {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 32px;
	width: 165px;
	height: 52px;
}
button {
	width: 296px;
	height: 61px;
	border-radius: 12px;
	border: none;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	/* identical to box height, or 178% */

	text-align: center;
	letter-spacing: -0.18px;

	cursor: pointer;
}
footer {
	position: absolute;
	top: 1612px;
	margin-left: 24px;
	margin-right: 24px;
	/* margin-left: 14px;
	margin-right: 14px; */

	display: flex;
	flex-wrap: wrap;
}
footer > img {
	width: 146.09px;
	height: 32px;
	margin-bottom: 32.01px;
}

footer > p {
	width: 327px;
	height: 105px;
	margin-bottom: 64px;

	font-family: IBM Plex Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	/* or 162% */

	color: #191826;
}

footer > div {
	width: 100px;
	height: 20px;

	display: flex;
	justify-content: space-between;
}
